/* 
ASTERISKS (*)are for all elements, 
ELEMENTS (body) targets specific elements, all if multiple, 
DOTS (.) are for classes, 
HASHTAGS (#) are for ID's 
 */

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  background-color: silver;
}

.btn:hover {
  background-color: white;
}

hr {
  color: silver;
}

main {
  background: linear-gradient(black, silver);
}

#imagecard {
  margin-top: 10px;
  border-radius: 15px;
}

.card {
  justify-content: space-around;
  margin: 10px;
  color: white;
}

.contact-me {
  display: inline;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: black;
}

@media screen and (max-width: 400px) {
  .card {
    width: 80vw;
  }
}